{% extends 'profile_update.html' %}

{% block title %} <title> Change your password </title>{% endblock %}

{% block content %}

    <h1> Change Your Password </h1>
    <p> Use the form below to change your password </p>
    <form action="" method="POST">
        {% csrf_token %}
        
        <table>
            <tr>
                {{ form.as_table }}
            </tr>
        </table>

        <button type="submit" class="save btn btn-success">Change Password</button>  &nbsp;
        <button type="submit" class="save btn btn-danger"><a href="{% url 'customer_homepage' %}"></a> Back</button>  &nbsp;

        
    </form>

{% endblock %}
